<div class="bb bc"><div class="container pv1">
    <div class="flex justify-between">
        <div class="flex items-center">
            <div class="flex flex-column justify-center pt1 pr1">
            <app-icon /></div>
            <div class="flex flex-column justify-center">
                <a routerLink=''><span class="b f4 iblack">MyHub</span></a>
                <span class="f6">Internet Business Solutions</span>
            </div>
        </div>
        <div class="flex items-center">
            <span class="dib pt1">
            <a routerLink='auth'><icon-user-circle /></a>
            </span>
        </div>
    </div>
</div></div>